body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: contain;
    display: grid;
}

#screenSVG {
    width: 100px;
    height: 100px;
}

.text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    fill: rgb(255, 255, 255);
    font-size: 20px;
    text-anchor: middle;

}

.textarea {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 20px;
    word-wrap: break-word;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    user-select: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 25px;
    resize: none;
    overflow-y: scroll;
    background-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.txtInput{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin: 0;
    background-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#contextMenu {
    position: absolute;
    top: 0;
    left: 0;
}



.menuIcon path {
    transition: fill 0.1s ease, transform 0.05s ease;
    transform-origin: center -480px;
}

.menuIcon:hover path {

    transition: fill 0.1s ease;
    /* fill: inherit; */
    filter: invert(1);
}


.menuIcon:active path {

    transition: fill 0.1s ease, transform 0.05s ease;
    transform: scale(0.95);

}

.mover{
    cursor: grab;
}
.mover:active{
    cursor: grabbing;
}
.nesw{
    cursor: nesw-resize;
}
.nwse{
    cursor: nwse-resize;
}