/* THESE STYLES MUST BE AT THE TOP BECAUSE OF COLOR TRANSITIONS */
p, h1, h2, h3, h4, h5, h6, span, a, li, td, th, .text{ 
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
.colorPicker {
    width: 40px;
    height: 40px;
    padding: 2;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); /* SET IN CODE */
    cursor: pointer;
    user-select: none;
}
#menu{
    position: absolute;
    display: none;
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 4px solid rgb(0, 0, 0);
    border-color: white;
    z-index: 9999;

}

.menuTxt
{
    text-align: center;
    margin: 0 auto;
    width: 120px;
    border-radius: 10px;
    border: 2px solid rgb(78, 0, 0);
    user-select: none;
    transition: 0.1s;
}
.text::selection{
    background-color: white;
}

#settings{
    display: none;
    position: absolute;
    grid-template-columns: auto auto auto;
    width: 150px;
    height: 50px;
    background-color: wheat;
    transform-origin: top left;
    border-radius: 10px;
        /* border-top-left-radius: 10px;
        border-top-right-radius: 10px; */
    border: 4px solid rgb(78, 0, 0);
    /* border-bottom: none; */
}
#settings2{
    display: none;
    align-items: center;
    justify-items: center;
    position: absolute;
    grid-template-columns: auto auto auto;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    transform-origin: top left;
    border-radius: 15px;

    border: 4px solid rgb(78, 0, 0);

    cursor: pointer;
}
.c2{
    display: none;
    align-self: center;
    justify-self: center;
}
.c1 {
    color: white;
}

/* ===== Unordered from here ===== */
#settingHitbox{
    position: absolute;
    width: 270px;
    height: 120px;
    top:-20px;
    left: -20px;
    z-index: -1;
    /* background-color: white; */
}
#setting2Hitbox{
    position: absolute;
    width: 120px;
    height: 100px;
    transform: rotateZ(45deg);
    border-radius: 20px;
    top:-50px;
    left: -50px;
    z-index: -1;
    /* background-color: white; */
}
.resizeIcon{
    transform: rotateZ(45deg);
    font-size: 30px !important;
    user-select: none;
}
.settingButton{
    font-size: 30px !important;
    user-select: none;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}
.menuTxt:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.1s;
}
.menuTxt:active{
    transform: scale(0.95);
    transition: 0.1s;
}

.menuNote{
    display: grid;
    justify-items: center;
    height: fit-content;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    overscroll-behavior: contain;
}

#canvas {
    position: absolute;
    margin: 0;
    image-rendering: optimizeQuality;
    cursor: grab;
}
#canvas:active{
    cursor: grabbing;
}




.container {

    position: absolute;
    width: 92px;
    height: 92px;
    background-color: red;
    transform-origin: top left;
    border: 4px solid rgb(78, 0, 0);
    box-shadow: -3px 3px 19px 5px rgb(165, 120, 247);
    border-radius: 10px;
    z-index: 100;
    user-select: none;
}


.text {
    /* padding: 10%; */
    box-sizing: content-box;
    width: calc(100% - 50px);
    padding: 25px;
    height: calc(100% - 50px);
    border-radius: 5px;
    border: none;
    /* margin: 10%; */
    font-size: 18px;
    resize: none;
    background-color: transparent;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.text:focus {
    outline: none;
    border: none;
}
.text::-webkit-scrollbar {
    display: none; /* Set the width to 0 to hide the scrollbar */
}



#menuColors
{
    height: max-content;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content max-content;
}

#menuSelTheme
{
    text-align: center;
    margin: 20px 0 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    user-select: none;
}

